.carousel-item {
    height: 500px;
    text-align: center;
}

.copyright {
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}



.krishna-centerheader {
  text-align: center;
    background-color: white;
}

.profilepic {
    border-radius: 50%;
}